.login-signup-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }



.signup-login-buttons {  
  width: fit-content;
  display: flex;
  flex-direction: row;
}
